<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.uzd1.MyBatis.GenreMapper">

    <delete id="deleteByPrimaryKey" parameterType="long">
        DELETE FROM genre WHERE id = #{id}
    </delete>

    <select id="selectByBookId" parameterType="long" resultType="com.example.uzd1.MyBatis.Genre">
        SELECT g.* FROM genre g
                            JOIN book_genre bg ON g.id = bg.genre_id
        WHERE bg.book_id = #{bookId}
    </select>

    <insert id="insert" parameterType="com.example.uzd1.MyBatis.Genre">
        INSERT INTO genre (name) VALUES (#{name})
    </insert>

    <select id="selectByPrimaryKey" parameterType="long" resultType="com.example.uzd1.MyBatis.Genre">
        SELECT * FROM genre WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="com.example.uzd1.MyBatis.Genre">
        SELECT * FROM genre
    </select>

    <update id="updateByPrimaryKey" parameterType="com.example.uzd1.MyBatis.Genre">
        UPDATE genre SET name = #{name} WHERE id = #{id}
    </update>

</mapper>